@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*********Colors***********/

$white-color: #fff;
$black-color: #000;
$red-color: red;
$primary-color:#640100;
$secondary-color:#9B2428;
$footer-color:#480504;
$text-color: #464646;
$grey-color:rgb(83, 83, 83);
$span-color: #8d8d8d;
$dark-brown-color: #614639;
$footer-button:  #abab17;
